.bottle {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 50px;
    height: 200px;

    border: 1px solid white;

    margin-right: 10px;
}

.bottleLiquid {
    width: 50px;
    height: calc(200px / 4);

    float: right;

    outline: 1px solid black;
}
